.ch_footer-follow {
  display: flex;
  flex-direction: column;
  span {
    margin-top: 60px;
    font-family: GILROY-LIGHT;
    color: rgba(153, 153, 153, 1);
    line-height: 14px;
    font-size: 14px;
    font-weight: 300;
  }



  .footer_follow-icons {
    display: flex;
    margin-top: 28px;
    
    justify-content: space-between;
    .follow-t {
      position: relative;
      width: 40px;
      height: 40px;
      background: #383838;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-shrink: 0;
    }

    svg {
      height: 16px;
    }
  }

  .footer-contact-landing {
    display: flex;
  }
  .footer-contact {
    margin-top: 35px;
    margin-right: 23px;
    line-height: 2.5;
    background: #383838;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: GILROY-LIGHT;
    font-weight: 400;
    color: #ffffff;
    padding: 0 1.5em;
    flex-shrink: 0;
  }
}

.ch_footer-follow_light {
  span {
    color: #666666;
  }

  .follow-t {
    background: #999999 !important;
  }

  .footer-contact {
    background: #999999 !important;
    color: #000000 !important;
  }
}
